/* general */

.page {
  margin: 0;
  height: 100vh;
  font-family: 'Rubik', sans-serif;
}

/* header */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 10px 0 13px;
}

.logo {
  width: 155px;
  margin: 0 auto 10px;
}

.logo_image {
  width: 100%;
}

.nav__menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.nav__menu__item {
  display: inline-block;
}

.nav__menu__item:first-of-type {
  margin-right: 20px;
}

.nav__menu__link {
  font-size: 16px;
  color: #4a4a4a;
  text-decoration: none;
  text-transform: uppercase;
}

/* main */

.main {
  background-color: #3cdbc0;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__header {
  color: #ffffff;
  max-width: 200px;
  font-size: 30px;
  text-transform: capitalize;
  margin: 0;
}

@media all and (min-width: 768px) {
  .header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }

  .logo {
    margin: 0;
  }

  .main__header {
    font-size: 40px;
  }
}
